/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.transition {
  background: none repeat scroll 0 0 #000000;
  display: table-cell;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 9999999;
  img {
    left: 50%;
    position: absolute;
    top: 40%;
    padding: 0;
    width: 70px;
    z-index: 9999999;
  }
}
.hide{
  display: none !important;
}